# This file defines the code owners for the repository
# Code owners are automatically requested for review when a pull request changes any owned files
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @thomasvincent

# Cookbook core files
/attributes/ @thomasvincent
/recipes/ @thomasvincent
/resources/ @thomasvincent
/templates/ @thomasvincent
/spec/ @thomasvincent
/test/ @thomasvincent